* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #ff9a4b;
  width: 100%;
  height: 50px;
}
main {
  width: 960px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
section {
  width: 300px;
  background-color: #aaaaaa;
  padding: 10px;
  position: relative;
}
span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: white;
}
div {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}
.step1 {
  background-image: url(img/flow01.png);
}
.step2 {
  background-image: url(img/flow02.png);
}
.step3 {
  background-image: url(img/flow03.png);
}
h3 {
  margin: 15px 0 5px 0;
}
footer {
  background-color: #aaaaaa;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    flex-direction: column;
  }
  section {
    width: 90%;
    margin: 0 auto 20px auto;
  }
  section:last-child {
    margin-bottom: 0;
  }
}